/Library/
/library/
/Logs/
/logs/
/UserSettings/
/usersettings/
/Obj/
/obj/
/MemoryCaptures/
/Build/
/build/
/Builds/
/builds/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

.idea/
*.idea/
.idea.*
*.sln.iml
.shelf/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db